.sidebar__item {
    padding-left: 32px;
}

.sidebar__item:hover {
    background-color: rgba(0,0,0,0.3);
}

.sidebar__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    text-transform: capitalize;
    padding: 8px 10px;
    display: block;
}