.menu {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  width: 100%;
  background-color: #eee;
}

.menu__item {
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item a {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
}
