* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  background: #ff7a23;
}

#counter-app {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border-radius: 5px;
}
#counter-app #display {
  height: 150px;
  width: 150px;
  color: #333333;
  margin: auto;
  font-size: calc(150px / 1.5);
  line-height: 150px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #efefef;
}
#counter-app .container {
  padding: 1em;
}
#counter-app #increment-button {
  background: #1abc9c;
  text-shadow: 2px 2px 0 #148f77, 2px 2px 0 #149178, 3px 3px 0 #149279,
    4px 4px 0 #14937a, 5px 5px 0 #14947b, 6px 6px 0 #15957b, 7px 7px 0 #15957c,
    8px 8px 0 #15967d, 9px 9px 0 #15977e, 10px 10px 0 #15987e,
    11px 11px 0 #15997f, 12px 12px 0 #159a80, 13px 13px 0 #159b80,
    14px 14px 0 #169c81, 15px 15px 0 #169d82, 16px 16px 0 #169e83,
    17px 17px 0 #169e83, 18px 18px 0 #169f84, 19px 19px 0 #16a085,
    20px 20px 0 #16a186, 21px 21px 0 #16a286, 22px 22px 0 #17a387,
    23px 23px 0 #17a488, 24px 24px 0 #17a589, 25px 25px 0 #17a689,
    26px 26px 0 #17a68a, 27px 27px 0 #17a78b, 28px 28px 0 #17a88c,
    29px 29px 0 #17a98c, 30px 30px 0 #18aa8d, 31px 31px 0 #18ab8e,
    32px 32px 0 #18ac8f, 33px 33px 0 #18ad8f, 34px 34px 0 #18ae90,
    35px 35px 0 #18af91, 36px 36px 0 #18af92, 37px 37px 0 #18b092,
    38px 38px 0 #19b193, 39px 39px 0 #19b294, 40px 40px 0 #19b395,
    41px 41px 0 #19b495, 42px 42px 0 #19b596, 43px 43px 0 #19b697,
    44px 44px 0 #19b798, 45px 45px 0 #19b898, 46px 46px 0 #1ab899,
    47px 47px 0 #1ab99a, 48px 48px 0 #1aba9b, 49px 49px 0 #1abb9b,
    50px 50px 0 #1abc9c, 51px 51px 0 #1abd9d, 52px 52px 0 #1abe9d,
    53px 53px 0 #1abf9e, 54px 54px 0 #1ac09f, 55px 55px 0 #1bc0a0,
    56px 56px 0 #1bc1a0, 57px 57px 0 #1bc2a1, 58px 58px 0 #1bc3a2,
    59px 59px 0 #1bc4a3, 60px 60px 0 #1bc5a3, 61px 61px 0 #1bc6a4,
    62px 62px 0 #1bc7a5, 63px 63px 0 #1cc8a6, 64px 64px 0 #1cc9a6,
    65px 65px 0 #1cc9a7, 66px 66px 0 #1ccaa8, 67px 67px 0 #1ccba9,
    68px 68px 0 #1ccca9, 69px 69px 0 #1ccdaa, 70px 70px 0 #1cceab,
    71px 71px 0 #1dcfac, 72px 72px 0 #1dd0ac, 73px 73px 0 #1dd1ad,
    74px 74px 0 #1dd2ae, 75px 75px 0 #1dd2af;
}
#counter-app #decrement-button {
  background: #ffae23;
  text-shadow: 2px 2px 0 #ef9700, 2px 2px 0 #f19800, 3px 3px 0 #f29900,
    4px 4px 0 #f39a00, 5px 5px 0 #f49a00, 6px 6px 0 #f59b00, 7px 7px 0 #f69c00,
    8px 8px 0 #f79c00, 9px 9px 0 #f89d00, 10px 10px 0 #f99d00,
    11px 11px 0 #fa9e00, 12px 12px 0 #fb9f00, 13px 13px 0 #fc9f00,
    14px 14px 0 #fda000, 15px 15px 0 #fea100, 16px 16px 0 #ffa100,
    17px 17px 0 #ffa201, 18px 18px 0 #ffa202, 19px 19px 0 #ffa203,
    20px 20px 0 #ffa304, 21px 21px 0 #ffa305, 22px 22px 0 #ffa306,
    23px 23px 0 #ffa407, 24px 24px 0 #ffa408, 25px 25px 0 #ffa50a,
    26px 26px 0 #ffa50b, 27px 27px 0 #ffa50c, 28px 28px 0 #ffa60d,
    29px 29px 0 #ffa60e, 30px 30px 0 #ffa60f, 31px 31px 0 #ffa710,
    32px 32px 0 #ffa711, 33px 33px 0 #ffa812, 34px 34px 0 #ffa813,
    35px 35px 0 #ffa814, 36px 36px 0 #ffa915, 37px 37px 0 #ffa916,
    38px 38px 0 #ffa917, 39px 39px 0 #ffaa18, 40px 40px 0 #ffaa19,
    41px 41px 0 #ffab1a, 42px 42px 0 #ffab1b, 43px 43px 0 #ffab1c,
    44px 44px 0 #ffac1d, 45px 45px 0 #ffac1e, 46px 46px 0 #ffac1f,
    47px 47px 0 #ffad20, 48px 48px 0 #ffad21, 49px 49px 0 #ffae22,
    50px 50px 0 #ffae23, 51px 51px 0 #ffae24, 52px 52px 0 #ffaf25,
    53px 53px 0 #ffaf26, 54px 54px 0 #ffb027, 55px 55px 0 #ffb028,
    56px 56px 0 #ffb029, 57px 57px 0 #ffb12a, 58px 58px 0 #ffb12b,
    59px 59px 0 #ffb12c, 60px 60px 0 #ffb22d, 61px 61px 0 #ffb22e,
    62px 62px 0 #ffb32f, 63px 63px 0 #ffb330, 64px 64px 0 #ffb331,
    65px 65px 0 #ffb432, 66px 66px 0 #ffb433, 67px 67px 0 #ffb434,
    68px 68px 0 #ffb535, 69px 69px 0 #ffb536, 70px 70px 0 #ffb637,
    71px 71px 0 #ffb638, 72px 72px 0 #ffb639, 73px 73px 0 #ffb73a,
    74px 74px 0 #ffb73b, 75px 75px 0 #ffb73d;
}
#counter-app #reset-button {
  background: #f6223f;
  text-shadow: 2px 2px 0 #dc0926, 2px 2px 0 #de0926, 3px 3px 0 #df0926,
    4px 4px 0 #e00927, 5px 5px 0 #e10927, 6px 6px 0 #e20927, 7px 7px 0 #e30927,
    8px 8px 0 #e40927, 9px 9px 0 #e50927, 10px 10px 0 #e60928,
    11px 11px 0 #e70928, 12px 12px 0 #e80928, 13px 13px 0 #e90928,
    14px 14px 0 #ea0a28, 15px 15px 0 #eb0a28, 16px 16px 0 #ec0a29,
    17px 17px 0 #ed0a29, 18px 18px 0 #ee0a29, 19px 19px 0 #ef0a29,
    20px 20px 0 #f00a29, 21px 21px 0 #f10a29, 22px 22px 0 #f20a2a,
    23px 23px 0 #f30a2a, 24px 24px 0 #f40a2a, 25px 25px 0 #f50a2a,
    26px 26px 0 #f50a2b, 27px 27px 0 #f50b2b, 28px 28px 0 #f50c2c,
    29px 29px 0 #f50d2d, 30px 30px 0 #f50e2e, 31px 31px 0 #f50f2f,
    32px 32px 0 #f51030, 33px 33px 0 #f51131, 34px 34px 0 #f51231,
    35px 35px 0 #f51332, 36px 36px 0 #f51433, 37px 37px 0 #f51534,
    38px 38px 0 #f61635, 39px 39px 0 #f61736, 40px 40px 0 #f61836,
    41px 41px 0 #f61937, 42px 42px 0 #f61a38, 43px 43px 0 #f61b39,
    44px 44px 0 #f61c3a, 45px 45px 0 #f61d3b, 46px 46px 0 #f61e3c,
    47px 47px 0 #f61f3c, 48px 48px 0 #f6203d, 49px 49px 0 #f6213e,
    50px 50px 0 #f6223f, 51px 51px 0 #f62340, 52px 52px 0 #f62441,
    53px 53px 0 #f62542, 54px 54px 0 #f62642, 55px 55px 0 #f62743,
    56px 56px 0 #f62844, 57px 57px 0 #f62945, 58px 58px 0 #f62a46,
    59px 59px 0 #f62b47, 60px 60px 0 #f62c48, 61px 61px 0 #f62d48,
    62px 62px 0 #f62e49, 63px 63px 0 #f72f4a, 64px 64px 0 #f7304b,
    65px 65px 0 #f7314c, 66px 66px 0 #f7324d, 67px 67px 0 #f7334d,
    68px 68px 0 #f7344e, 69px 69px 0 #f7354f, 70px 70px 0 #f73650,
    71px 71px 0 #f73751, 72px 72px 0 #f73852, 73px 73px 0 #f73953,
    74px 74px 0 #f73a53, 75px 75px 0 #f73b54;
}
#counter-app .button {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 100;
  margin: 0 5px;
  overflow: hidden;
  line-height: 50px;
  font-size: 30px;
  cursor: pointer;
  color: #efefef;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  border: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
#counter-app .button:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
