.collection {
  list-style: none;
}

.collection__item {
  display: flex;
  margin-bottom: 20px;
}

.collection__item p {
  width: 30%;
  padding: 20px 15px;
  border: 1px solid #000;
  font-size: 20px;
}
