.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #eee;
}

.menu__item {
  padding: 10px 40px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
